@value colors: "../../stylesheets/colors.css";
@value dark-indigo from colors;

.header {
    align-items: center;
    background-color: dark-indigo;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    position: fixed; 
    top: 0;
    width: 100%;
}

.logo {
    cursor: pointer;
    width: 75px;
    height: 100%;
    margin: 16px 24px 16px -24px;
    float: left;
}

.logo img{
    height: 10vh;
}

.footer {
    width: 100%;
    text-align: center;
    flex-shrink: 0;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content{
    flex-grow: 1;
}

  