@value colors: "../../stylesheets/colors.css";
@value dark-indigo from colors;

.header {
    align-items: center;
    background-color: dark-indigo;
    border-bottom: 1px solid #ddd;
    display: flex;
    height: 85px;
    justify-content: space-between;
    padding: 0 42px;
    position: fixed;
    top: 0;
    width: calc(100vw - 0px);
    z-index: 999999;
}

.logo {
    cursor: pointer;
    width: 75px;
    height: 100%;
    margin: 16px 24px 16px -24px;
    float: left;
}

.logo img{
    height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 36px;            
    text-align: center;
    display:table;
}

.content {
    padding: '0 50px';
}

.body{
    background: '#fff';
    padding: 42px;
}

  